/* #heading {
    color: rgb(124, 21, 156);
}

.para {
    background-color: aquamarine;
}
body {
    background-color: pink;
} */

/* pratice question 1 lecture 6 */
/* .box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */

/* pratice question 2 lecture 7 */
/* .paras {
    color: crimson;
}

.newClass {
    background-color: aquamarine;
}
 */




 /* LECTURE 8 EVENTS */
 /* div {
    height: 300px;
    width:300px;
    background-color: aquamarine;
    margin: 10px;
    border: 2px solid black;
 } */


 /* change mode */
 .dark {
    background-color: black;
    color:white;
 }

 .light {
    background-color: white;
    color: black;
 }